@font-face { font-family: 'Georgia'; src: url(./../../../assets/fonts/georgia/Georgia.woff2) format("woff2"), url(./../../../assets/fonts/georgia/Georgia.woff) format("woff"); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'Arial'; src: url(./../../../assets/fonts/arial/Arial-ItalicMT.woff2) format("woff2"), url(./../../../assets/fonts/arial/Arial-ItalicMT.woff) format("woff"); font-weight: normal; font-style: italic; font-display: swap; }
@font-face { font-family: 'Arial'; src: url(./../../../assets/fonts/arial/ArialMT.woff2) format("woff2"), url(./../../../assets/fonts/arial/ArialMT.woff) format("woff"); font-weight: 900; font-style: normal; font-display: swap; }
html { box-sizing: border-box; scroll-behavior: smooth; }

*, *:after, *:before { box-sizing: inherit; margin: 0; padding: 0; }

body { display: flex; flex-direction: column; justify-content: space-between; max-width: 1280px; margin: 0 auto; background-color: #F6F6F6; }
body .container { margin: 0 auto; }
body a { text-decoration: none; }
body ul { padding: 0; }
body ul li { list-style-type: none; }
body section { padding: 0 40px; }
body._lock { overflow: hidden; }

.burger, .burger-wrapper { opacity: 0; visibility: hidden; }

.fone.fone-active { position: fixed; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }

.gradient { background: -webkit-linear-gradient(135deg, #514034 21%, #232122 83%); background: -moz-linear-gradient(135deg, #514034 21%, #232122 83%); background: linear-gradient(135deg, #514034 21%, #232122 83%); }

header { padding: 60px 40px; display: flex; justify-content: space-between; align-items: center; }
header p { font-family: 'Arial'; font-weight: 400; font-size: 13px; line-height: 15px; align-items: center; letter-spacing: 0.1em; color: #FFFFFF; }

.header__nav { display: flex; align-items: center; }

.header-logo-burger { opacity: 0; visibility: hidden; }

.logo-text { font-family: 'Georgia'; font-weight: 400; font-size: 32px; line-height: 110%; align-items: center; letter-spacing: 0.06em; color: #F1CDB3; padding-bottom: 10px; }

.nav-list { display: flex; gap: 35px; }

.nav-item a { font-family: 'Arial'; font-weight: 400; font-size: 15px; line-height: 160%; color: #CDCDCD; }
.nav-item a:hover { color: #FAFAFA; transition: 0.3s; }
.nav-item.active a { border-bottom: 3px solid #F1CDB3; color: #FAFAFA; }

.not-only { display: flex; justify-content: space-between; }
.not-only-title { font-family: 'Georgia'; font-weight: 400; font-size: 44px; line-height: 130%; color: #FFFFFF; padding: 163px 0 42px; max-width: 310px; }
.not-only-description { font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 15px; line-height: 160%; color: #CDCDCD; padding-bottom: 42px; max-width: 460px; }
.not-only-btn { padding: 14px 43px; background-color: #F1CDB3; border-radius: 100px; border: none; }
.not-only-btn a { font-family: 'Georgia'; font-weight: 400; font-size: 17px; line-height: 130%; letter-spacing: 0.06em; color: #292929; }
.not-only-btn:hover { background-color: #FDDCC4; transition: 0.3s; }
.not-only-img { background-image: url(./../../../assets/images/start-screen-puppy.png); background-repeat: no-repeat; width: 698px; height: 728px; }

.title { font-family: 'Georgia'; font-style: normal; font-weight: 400; font-size: 35px; line-height: 130%; letter-spacing: 0.06em; color: #545454; }

.about { padding: 80px 0 100px; display: flex; justify-content: center; align-items: center; gap: 120px; }
.about .title { max-width: 370px; }
.about-description p { padding-top: 25px; font-family: 'Arial'; font-style: normal; font-weight: 400; font-size: 15px; line-height: 160%; color: #4C4C4C; max-width: 430px; }
.about-img { background-image: url(./../../../assets/images/about-pets.png); background-repeat: no-repeat; width: 300px; height: 408px; }

.our-friends { padding: 80px 0 100px; display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: #F6F6F6; max-width: 1200px; }
.our-friends .title { margin: 0 auto; text-align: center; max-width: 400px; }
.our-friends-block { display: flex; justify-content: space-between; padding: 60px 0; align-items: center; gap: 55px; }
.our-friends-arrow-right, .our-friends-arrow-left { border-radius: 50%; border: 2px solid #F1CDB3; background-color: transparent; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; }
.our-friends-arrow-right:hover, .our-friends-arrow-left:hover { background-color: #F1CDB3; transition: 0.3s; cursor: pointer; }
.our-friends-arrow-right img { transform: rotate(180deg); }
.our-friends-list { display: flex; position: relative; left: -990px; }
.our-friends-item { width: 270px; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 30px; background-color: #FAFAFA; border-radius: 9px; }
.our-friends-item:hover { background-color: #FFFFFF; transition: 0.3s; }
.our-friends-item:hover .our-friends-item-btn { background-color: #F1CDB3; transition: 0.3s; cursor: pointer; }
.our-friends-item-name { font-family: 'Georgia'; font-weight: 400; font-size: 20px; line-height: 23px; letter-spacing: 0.06em; color: #545454; }
.our-friends-item-btn { padding: 12px 42px; border-radius: 40px; background-color: transparent; border: 2px solid #F1CDB3; font-family: 'Georgia'; font-weight: 400; font-size: 17px; line-height: 130%; letter-spacing: 0.06em; color: #292929; margin-bottom: 27px; }
.our-friends-btn { padding: 15px 45px; background-color: #F1CDB3; border-radius: 100px; border: none; margin: 0 auto; }
.our-friends-btn a { font-family: 'Georgia'; font-weight: 400; font-size: 17px; line-height: 130%; letter-spacing: 0.06em; color: #292929; }
.our-friends-btn:hover { background-color: #FDDCC4; transition: 0.3s; }
.our-friends-item-left, .our-friends-item-active, .our-friends-item-right { display: flex; gap: 90px; }

.carousel-wrapper { width: 990px; margin: 0 auto; overflow: hidden; }

@keyframes move-right { from { left: -990px; }
  to { left: -1980px; } }
.transition-right { animation-name: move-right; animation-duration: 2s; }

@keyframes move-left { from { left: -990px; }
  to { left: 0px; } }
.transition-left { animation-name: move-left; animation-duration: 2s; }

.help { padding: 80px 0 100px; }
.help .title { margin: 0 auto; text-align: center; }
.help-list { margin: 0 auto; display: flex; flex-wrap: wrap; max-width: 1026px; justify-content: space-between; gap: 55px 87px; padding-top: 55px; }
.help-item-text { font-family: 'Georgia'; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; letter-spacing: 0.06em; color: #545454; padding-top: 30px; }
.help-item { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.help-item.vitl { padding-left: 83px; }
.help-item.vitr { padding-right: 83px; }

.in-addition { display: flex; justify-content: center; padding: 80px 0 100px; gap: 30px; align-items: center; background-color: #F6F6F6; }
.in-addition-img { background-image: url(./../../../assets/images/donation-dog.png); background-repeat: no-repeat; width: 505px; height: 261px; }
.in-addition-description { font-family: 'Georgia'; font-weight: 400; font-size: 15px; line-height: 110%; letter-spacing: 0.06em; color: #545454; padding-top: 20px; }
.in-addition-btn { background-color: #F1CDB3; border-radius: 9px; border: none; padding: 10px 15px; margin: 20px 0; }
.in-addition-btn a { display: flex; gap: 15px; }
.in-addition-btn:hover { background-color: #FDDCC4; transition: 0.3s; }
.in-addition-account { font-family: 'Georgia'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; letter-spacing: 0.06em; color: #545454; }
.in-addition-info { font-family: 'Arial'; font-style: italic; font-weight: 400; font-size: 12px; line-height: 18px; color: #B2B2B2; width: 380px; }

.footer { padding: 40px 40px 0; display: flex; justify-content: space-between; }
.footer-img { background-image: url(./../../../assets/images/footer-puppy.png); background-repeat: no-repeat; width: 300px; height: 310px; }
.footer-title { font-family: 'Georgia'; font-weight: 400; font-size: 35px; line-height: 130%; letter-spacing: 0.06em; color: #FFFFFF; padding-top: 16px; width: 279px; }
.footer-title.str { padding-left: 10px; }
.footer-item { display: flex; gap: 20px; padding-top: 40px; }
.footer-item-text { font-family: 'Georgia'; font-weight: 400; font-size: 20px; line-height: 115%; letter-spacing: 0.06em; color: #F1CDB3; display: flex; align-items: center; gap: 20px; }
.footer-item.street { padding: 32px 15px 0 10px; }

.popup { position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); top: 0; left: 0; opacity: 0; visibility: hidden; overflow-y: auto; overflow-x: hidden; transition: all 0.8s ease 0s; }
.popup-body { min-height: 100%; display: flex; align-items: center; justify-content: center; padding: 30px 10px; }
.popup-content { position: relative; border-radius: 9px; background-color: #F6F6F6; color: #000; width: 800px; height: auto; padding: 30px; transition: all 0.8s ease 0s; }
.popup-close { position: absolute; right: 10px; top: 10px; font-size: 20px; text-decoration: none; }
.popup .popup.active-pop { opacity: 1; visibility: visible; }
.popup-pets { display: flex; gap: 30px; align-items: center; }
.popup-data { display: flex; flex-direction: column; gap: 10px; }
.popup-data-name { font-family: 'Georgia'; font-weight: 400; font-size: 35px; line-height: 130%; letter-spacing: 0.06em; color: #000000; }
.popup-data-type { font-family: 'Georgia'; font-weight: 400; font-size: 20px; line-height: 115%; letter-spacing: 0.06em; color: #000000; }
.popup-data-description { padding: 30px 0; }
.popup-data-description, .popup-data-age, .popup-data-inoculations, .popup-data-diseases, .popup-data-parasites { font-family: 'Georgia'; font-weight: 800; font-size: 15px; line-height: 110%; letter-spacing: 0.06em; color: #000000; }
.popup-data-age span, .popup-data-inoculations span, .popup-data-diseases span, .popup-data-parasites span { font-weight: 400; }
.popup-close { position: absolute; top: -52px; right: -52px; border-radius: 50%; border: 2px solid #F1CDB3; background-color: transparent; display: flex; align-items: center; justify-content: center; width: 52px; height: 52px; color: #000000; font-size: 20px; }
.popup-close:hover, .popup-close.close-hover { background-color: #F1CDB3; transition: 00.3s; }

@media (max-width: 1279px) { .carousel-wrapper { width: 600px; }
  .our-friends-item-left, .our-friends-item-active, .our-friends-item-right { gap: 60px; } }
@media (max-width: 1230px) { .our-friends-list { gap: 30px; }
  .our-friends-block { gap: 18px; }
  .help-list { width: 630px; }
  .help-item.vitl { padding-left: 0; }
  .help-item.vitr { padding-right: 0; } }
@media (max-width: 1180px) { .not-only { display: flex; justify-content: center; flex-wrap: wrap; gap: 100px; }
  .not-only-title { padding-top: 80px; } }
@media (max-width: 1010px) { .footer { flex-wrap: wrap; justify-content: center; gap: 61px 65px; } }
@media (max-width: 930px) { .in-addition { flex-direction: column-reverse; gap: 60px; }
  .nav-list { gap: 15px; } }
@media (max-width: 890px) { .about { flex-direction: column-reverse; gap: 80px; } }
@media (max-width: 768px) { header { padding: 30px; }
  .not-only { justify-content: space-between; gap: 100px; padding: 0; }
  .not-only-title { padding-top: 30px; }
  .not-only-text { padding-left: 154px; }
  .not-only-btn { margin-left: 126px; }
  .not-only-img { width: 569px; height: 593px; margin-left: 169px; background-size: cover; }
  .in-addition { padding: 72px 0 100px; }
  .footer { padding: 14px 36px 0 55px; }
  .footer-column.main { margin-left: -10px; }
  .footer-column.main.str { margin-left: -15px; }
  .footer-img.main { margin-left: -22px; }
  .help { padding: 84px 0 100px; } }
@media (max-width: 767px) { .burger { opacity: 1; visibility: visible; position: relative; width: 25px; height: 25px; z-index: 5; margin-right: 42px; transition: 0.3s ease 0s; }
  .burger-span, .burger::after, .burger::before { right: 0; position: absolute; height: 2px; width: 100%; background-color: #F1CDB3; }
  .burger::after, .burger::before { content: ''; }
  .burger::after { top: 0; }
  .burger::before { bottom: 0; }
  .burger-span { top: 50%; }
  .burger.active_burg { transform: rotate(90deg); transition: 0.3s ease 0s; }
  .header-logo-burger { opacity: 1; visibility: visible; right: -100%; padding: 30px 0 0 10px; }
  .header-logo-burger.active_burg { right: 320px; }
  .header__nav { position: fixed; top: 0; right: -100%; width: 320px; height: 100%; background-color: #292929; transition: right 0.3s ease 0s; overflow: auto; transform: translate(100%, 0px); }
  .header__nav.active_burg { right: 320px; display: block; }
  .burger-wrapper.active { opacity: 1; visibility: visible; height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 1; background: rgba(41, 41, 41, 0.6); }
  .nav-list { display: flex; gap: 35px; flex-direction: column; padding: 158px 0 0 0; align-items: center; margin: 0 auto; }
  .nav-item a { font-family: 'Arial'; font-weight: 400; font-size: 32px; line-height: 160%; color: #FAFAFA; }
  .carousel-wrapper { width: 235px; }
  .our-friends-item-left, .our-friends-item-active, .our-friends-item-right { gap: 62px; } }
@media (max-width: 700px) { .our-friends { padding: 42px 10px; }
  .our-friends-item.none2 { display: none; }
  .not-only { padding: 0 10px; }
  .not-only-title { padding-top: 30px; text-align: center; margin: 0 auto; }
  .not-only-description { text-align: center; }
  .not-only-img { margin-left: 20px; }
  .not-only-text { padding: 0; margin: 0 auto; }
  .help-list { gap: 30px; width: 500px; padding: 55px 15px 0; } }
@media (max-width: 525px) { .in-addition-img { width: 260px; height: 136px; background-size: cover; }
  .not-only-img { width: 260px; height: 271px; margin-left: 39px; background-size: cover; }
  .not-only-btn { margin: 0 46px; }
  .help-list { width: 460px; } }
@media (max-width: 460px) { header { padding: 30px 10px; }
  .title { font-size: 25px; text-align: center; max-width: 300px; padding-top: 29px; }
  .about { padding: 12px 25px 30px; gap: 40px; }
  .about-img { width: 260px; height: 354px; background-size: cover; }
  .about-description p { text-align: justify; padding-top: 23px; }
  .in-addition { padding: 45px 10px 41px; gap: 38px; }
  .in-addition-text { display: flex; flex-direction: column; gap: 24px; align-content: center; }
  .in-addition-btn { margin: 0 auto; }
  .in-addition-description { font-size: 14px; text-align: center; padding: 0; }
  .in-addition-info { text-align: justify; max-width: 280px; margin: 0 auto; }
  .in-addition-account { font-size: 15px; line-height: 110%; }
  .not-only { gap: 107px; }
  .not-only-title { font-size: 25px; max-width: 230px; margin-left: 23px; }
  .help { padding: 29px 0 0; }
  .help-list { width: 290px; padding: 42px 15px 0 40px; }
  .help-item-text { font-size: 14px; line-height: 110%; padding-top: 20px; }
  .help-item-img img { max-width: 50px; height: auto; }
  .our-friends { padding: 25px 10px; }
  .our-friends-block { padding: 41px 0 42px; gap: 20px 0; }
  .our-friends-item-btn { margin-bottom: 33px; }
  .footer { padding: 27px 10px 0; gap: 40px 65px; }
  .footer-title { padding: 0; font-size: 25px; line-height: 130%; text-align: center; gap: 44px; }
  .footer-title.main { padding: 3px 0 0 10px; }
  .footer-item.street { padding: 20px 0 20px 7px; }
  .footer-title.str { padding: 0px 0 20px 38px; width: 271px; }
  .footer-img { width: 260px; height: 269px; background-size: cover; margin-top: -21px; }
  .footer-item { padding-left: 15px; }
  .footer-item.main { padding: 39px 0 0 20px; }
  .footer .footer-img.main { margin-left: -2px; } }
@media (max-width: 400px) { .our-friends-block { display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(2, auto); justify-items: center; padding-bottom: 42px; }
  .our-friends-list { left: -748px; grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; }
  .our-friends-arrow-left { margin-left: -112px; grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3; }
  .our-friends-arrow-right { margin-left: -70px; grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3; }
  .our-friends-item { width: 208px; }
  .our-friends-item-img { width: 100%; height: auto; } }
